@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html, body {
  height: 100%; /* Asegúrate de que el cuerpo ocupe todo el alto de la pantalla */
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Hace que el contenedor principal ocupe toda la pantalla */
}

.content {
  flex: 1; /* Hace que el contenido principal crezca para ocupar el espacio entre el navbar y el footer */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente el carrusel */
}

.carouselContainer {
  max-width: 100%; /* Ajusta el tamaño máximo del carrusel */
  height: 100%; /* Para que ocupe todo el espacio disponible */
  display: flex;
  justify-content: center;
  align-items: center;
}

.productImage {
  width: 100%; /* Hace que la imagen ocupe todo el contenedor */
  height: auto; /* Mantiene la proporción */
}

